/* generic */

* {
    margin: 0;
    padding: 0;
}
    
body {
    font-family: Roboto, Arial, sans-serif;
}

/* header */

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 25vh;
}

.links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 400px;
    margin: 0 10px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

/* hero */

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 25vh 115px 25vh;
}

.left {
    margin-right: 50px;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero p {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.8;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 700;
    border: 0;
    border-radius: 7px;
    padding: 8px 32px;
    margin: 18px 0;
}

.hero img {
    width: 510px;
    height: 230px;
}

/* info */

.info {
    text-align: center;
    padding-bottom: 100px;
}

h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    padding: 50px 0;
}

.pics-container {
    display: flex;
    justify-content: center;
    gap: 55px;
}

.small-pic-container {
    width: 160px;
}

.info img {
    border: 4px solid #3882f6;
    border-radius: 14px;
    width: 160px;
    height: 160px;
}

.info p {
    color: #1f2937;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.8;
}

/* quote */

.quote {
    background-color: #e5e7eb;
    padding: 120px 0 100px 0;
}

.quote p {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
    padding: 0 41vh;

}

.quote p.thor {
    color: #1f2937;
    font-size: 23px;
    font-style: normal;
    font-weight: bold;
    padding: 0 45vh;
    text-align: right;
}